.GridLogo {
    display: grid;
    gap: 1.6rem;
}

    @media (max-width: 569.98px) {
        .GridLogo {
            display: flex;
            flex-direction: column;
        }
    }

.Group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border-default-settings);
    background: var(--nocolor-default);
    transition: var(--transition);
    position: relative;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: var(--radius-default);
    padding: var(--padding-large);
    height: 32vw;
    min-height: 22rem;
    max-height: 38rem;
    box-shadow: var(--shadow-small);
}

    .DefaultLogo {
        background-size: auto 10vw !important;
    }

    .SmallLogo {
        background-size: auto 7vw !important;
    }

    @media (min-width: 768px) {
        .DefaultLogo {
            background-size: auto 10rem !important;
        }

        .SmallLogo {
            background-size: auto 7.6rem !important;
        }
    }

    .Group:hover {
        background: var(--hover-nocolor);
        box-shadow: var(--shadow-default);
    }

    .Group:active {
        background: var(--pressed-nocolor);
        box-shadow: var(--shadow-strong);
    }

    .Color {
        color: white;
        cursor: pointer;
    }

        .Color:hover {
            filter: brightness(95%);
        }

        .Color:active {
            filter: brightness(90%);
        }

        @media (max-width: 767.98px) {
            .Color {
                height: 35vw;
                min-height: 20rem;
            }
        }

    .Group > * {
        text-align: start;
        width: max-content;
        border-radius: var(--radius-default);
    }

    .Text {
        font-size: var(--font-size-h5);
        font-weight: var(--font-weight-semibold);
        line-height: 1.4;
    }

    .GroupSubText {
        display: flex;
        flex-direction: column;
        gap: var(--gap-really-small);
    }

        .subText {
            font-size: var(--font-size-p);
            font-weight: var(--font-weight-medium);
            line-height: 1;
        }

    .Download {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: var(--padding-really-small);
        margin: calc(-1 * var(--padding-really-small));
        font-size: var(--font-size-interaction-default);
        font-weight: var(--font-weight-semibold);
        color: var(--body-default);
        text-decoration: unset;
        transition: var(--transition);
        position: absolute;
        right: var(--padding-large);
        bottom: var(--padding-large);
    }

        .Download > div {
            margin-top: -.1rem;
        }

    .Download:hover {
        background: var(--hover-default);
    }