.Group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-really-small);
    width: max-content;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 8vh;
    padding: var(--padding-small) 1.2rem;
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-strong);
    border: var(--border-default-settings);
    transition: var(--transition);
    cursor: pointer;
    z-index: 99999;
}

    .Text {
        font-size: var(--font-size-interaction-default);
        font-weight: var(--font-weight-medium);
    }