.Group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--card-padding);
    background: var(--card-bg);
    border-radius: var(--card-radius);
    border: var(--card-border);
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
}

    @media (hover: hover) and (pointer: fine) {
        .Group:hover {
            background: var(--card-bg-hover);
        }
    }

    .Group:active {
        background: var(--card-bg-active);
    }

    .Selected {
        background: var(--card-bg-hover);
    }

    .Label {
        border: 0;
        padding: var(--padding-default);
        padding-bottom: 0;
        font-size: var(--font-size-interaction-small);
        opacity: .7;
    }

        .GroupSelect {
            display: flex;
            width: 100%;
            align-items: center;
            position: relative;
        }

            .Select {
                display: flex;
                width: 100%;
                color: var(--body-color);
                font-size: var(--font-size-h6);
                letter-spacing: -.04rem;
                line-height: 1;
                font-family: var(--font-sans-serif);
                font-weight: var(--font-weight-regular);
                border: 0;
                padding: var(--card-padding);
                background: unset;
            }

            .Exit {
                position: absolute;
                right: var(--card-padding);
            }

.MenuSelect {
    position: relative;
}

.Menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: var(--card-gap);
    position: absolute;
    width: 100%;
    background: var(--card-bg);
    border: var(--card-border);
    border-radius: var(--card-radius);
    padding: var(--card-padding);
    z-index: 1;
}

    .MenuData {
        font-size: var(--font-size-interaction-default);
        padding: var(--card-padding);
        margin: calc(-.5 * var(--card-padding));
        border-radius: var(--radius-slightly-large);
        cursor: pointer;
        transition: var(--transition);
    }

        @media (hover: hover) and (pointer: fine) {
            .MenuData:hover {
                background: var(--card-bg-hover);
            }
        }

        .MenuData:active {
            background: var(--card-bg-active);
        }

        .MenuDataFocused {
            background: var(--card-bg-hover);
        }