.GroupHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.8rem;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
}

    @media (min-width: 768px) {
        .GroupHeader {
            display: none;
        }
    }

    .text {
        font-size: var(--font-size-h6);
        font-weight: var(--font-weight-semibold);
    }

.Background {
    background: var(--background-blur);
    backdrop-filter: var(--blur-default);
    border-bottom: var(--border-default-settings);
    width: 100%;
    height: 6.8rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: var(--transition);
}

/*    */

.Group {
    display: none;
}

@media (max-width: 767.98px) {
    .Group {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background: var(--background-blur);
        backdrop-filter: var(--blur-default);
        border-top: var(--border-default-settings);
        z-index: 500;
        transition: var(--transition);
    }
}

    .Container {
        display: flex;
        align-items: center;
        width: calc(100% - 2 * var(--padding-large));
        height: 9.2rem;
        max-width: var(--vp-width-pc);
    }

    .Box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-default);
        color: unset;
        text-decoration: none;
        width: 100%;
        padding: var(--padding-small) 0;
        border-radius: var(--radius-default);
        transition: var(--transition-nocolor);
        cursor: pointer;
    }

        .Box:hover {
            background: var(--hover-default-nav);
        }

        .Box:active {
            background: var(--pressed-default-nav);
        }

        .Text {
            font-size: var(--font-size-interaction-small);
            font-weight: var(--font-weight-medium);
        }