.Group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--vp-width-pc);
    width: calc(100% - var(--padding-large) * 2);
    height: 7.6rem;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}

    @media (max-width: 767.98px) {
        .Group {
            display: none;
        }

        .Background {
            display: none;
        }
    }

    .GroupIcon {
        display: flex;
        gap: var(--gap-large);
    }

        .Icon {
            border-radius: var(--radius-default);
            margin: calc(-1 * var(--padding-nano));
            padding: var(--padding-nano);
            transition: var(--transition-nocolor);
        }

            .Icon:hover {
                background: var(--hover-default);
            }

            .Icon:active {
                background: var(--pressed-default);
            }

    .GroupLink {
        display: flex;
        gap: var(--gap-tera);
    }

        .Link {
            opacity: .7;
            font-size: var(--font-size-interaction-small);
            font-weight: var(--font-weight-medium);
            color: unset;
            text-decoration: unset;
            text-transform: uppercase;
            letter-spacing: .2rem;
            border-radius: var(--radius-default);
            padding: var(--padding-really-small) var(--padding-pico) var(--padding-really-small) var(--padding-really-small);
            transition: var(--transition);
        }

            .Link:hover {
                background: var(--hover-default);
                opacity: .8;
            }

            .Link:active {
                background: var(--pressed-default);
                opacity: 1;
            }

        .Activated {
            font-weight: var(--font-weight-semibold);
            opacity: 1 !important;
        }

.Background {
    background: var(--background-blur);
    backdrop-filter: var(--blur-default);
    border-bottom: var(--border-default-settings);
    width: 100%;
    height: 7.6rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: var(--transition);
}