.Post {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    justify-content: space-between;
    background: var(--box-bg);
    border-radius: var(--box-radius);
    position: relative;
    overflow: hidden;
}

    .Image {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 0;
    }

    .GroupNumber {
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: var(--box-padding);
        top: var(--box-padding);
        background: var(--background-blur);
        backdrop-filter: var(--blur-default);
        border-radius: var(--card-radius);
        padding: var(--padding-really-small) var(--padding-small) var(--padding-really-small) var(--padding-really-small);
        margin: calc(-1 * var(--padding-nano));
    }

        .Number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.2rem;
            min-width: 4.2rem;
            height: 4.2rem;
            min-height: 4.2rem;
            background: var(--color-water-primary);
            color: white;
            font-size: var(--font-size-h6);
            font-weight: var(--font-weight-semibold);
            border-radius: var(--radius-slightly-large);
        }

        .GroupSubData {
            display: flex;
            gap: var(--gap-default);
        }

            .SubData {
                font-size: var(--font-size-p-small);
                font-weight: var(--font-weight-semibold);
            }

    .GroupTitle {
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
        padding: var(--box-padding);
    }

        .DateAuthor {
            font-size: var(--font-size-p);
            font-weight: var(--font-weight-medium);
            line-height: 1.5;
            opacity: .6;
        }