.Iframe {
    border: var(--border-default-settings);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-small);
    flex: 1;
    width: 100%;
    height: 100%;
    transition: var(--transition);
}

    .Iframe:hover {
        box-shadow: var(--shadow-default);
    }

    .Iframe:active {
        box-shadow: var(--shadow-strong);
    }

    @media (max-width: 767.98px) {
        .Iframe {
            flex: initial;
            height: 62rem;
        }
    }