.LiveActivity {
    display: flex;
    justify-content: center;
    padding: 11.6rem 0;
    width: 100%;
}

@media (max-width: calc(1279.98px + 4.8rem)) {
    .LiveActivity {
        padding: 10.4rem var(--hds-padding);
    }
}

    .Container {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;
        width: 100%;
        max-width: var(--vp-width-pc);
    }

        @media (max-width: 903.98px) {
            .Container {
                gap: 4.2rem;
            }
        }