.LiveActivity {
    display: flex;
    justify-content: center;
    padding: 14.2rem 0;
    width: 100%;
    transition: padding .2s ease-out;
}

@media (max-width: calc(1279.98px + 4.8rem)) {
    .LiveActivity {
        padding: 10.4rem 2.4rem;
    }
}

    .Container {
        display: flex;
        flex-direction: column;
        gap: var(--gap-tera);
        width: 100%;
        max-width: var(--vp-width-pc);
        min-height: 100vh;
        
    }

        @media (max-width: 767.98px) {
            .Container {
                gap: 4.2rem;
            }
        }