.Group {
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    max-width: 100vw;
    position: relative;
}

    .Textarea {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-small);
        color: var(--body-default);
        position: relative;
        background: var(--nocolor-default);
        padding: var(--padding-large);
        z-index: 1;
        border-radius: 0 0 var(--radius-small) var(--radius-small);
    }

        .Text {
            font-size: var(--font-size-h6);
            font-weight: var(--font-weight-semibold);
        }

        .Subtext {
            opacity: .8;
            font-size: var(--font-size-p);
        }

    .Group > img {
        border-radius: var(--radius-small) var(--radius-small) 0 0;
        position: relative !important;
        width: auto;
        height: auto;
        margin: 0;
    }