.Group {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    max-width: 100vw;
    position: relative;
    transition: var(--transition);
}

    .Group:hover {
        filter: brightness(95%);
    }

    .Group:active {
        filter: brightness(90%);
    }

    .Textarea {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-small);
        color: var(--body-default);
        position: relative;
        background: var(--nocolor-default);
        padding: var(--padding-default);
        z-index: 1;
        border-radius: 0 0 var(--radius-default) var(--radius-default);
        transition: var(--transition);
    }

        .Text {
            font-size: var(--font-size-interaction-default);
            font-weight: var(--font-weight-semibold);
        }

        .Subtext {
            opacity: .8;
            font-size: var(--font-size-interaction-small);
        }

    .Group > img {
        border-radius: var(--radius-small) var(--radius-small) 0 0;
        position: relative !important;
        width: auto;
        height: auto;
        margin: 0;
    }