.Air {
    display: flex;
    gap: var(--card-gap);
    background: var(--box-bg);
    padding: var(--card-padding);
    position: fixed;
    bottom: var(--box-padding);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: max-content;
    border: var(--box-border);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    z-index: 2;
}