/* 필터가 아닐 때 */
.Group {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--gap-really-small);
}

    /* Type === "Checkbox" */

    .Checkbox {
        position: relative;
        min-width: 2.4rem;
        width: 50%;
        max-width: max-content;
        border-radius: var(--radius-small);
        border: var(--border-default-settings);
        box-shadow: var(--shadow-really-small);
    }

        @media (hover: hover) and (pointer: fine) {
            .Checkbox:hover {
                background: var(--hover-nocolor);
            }
        }

        .Checkbox:active {
            background: var(--pressed-nocolor);
            transform: var(--card-scalex2);
        }
        
        .Checkbox::after {
            display: block;
            content: "";
            padding-bottom: 100%;
        }

        input:checked ~ .Checkbox {
            background: var(--color-muse-primary);
            background-image: url(/images/check_white.svg) !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            box-shadow: var(--shadow-default);
            color: white;
        }

            @media (hover: hover) and (pointer: fine) {
                input:checked ~ .Checkbox:hover {
                    background-color: var(--color-muse-hover);
                }
            }

            input:checked ~ .Checkbox:active {
                background-color: var(--color-muse-pressed);
                transform: var(--card-scalex2);
            }


    /* Type === "Toggle" */
    .Toggle {
        display: flex;
        align-items: center;
        width: 4.8rem;
        height: 2.8rem;
        padding: .4rem;
        background: var(--nocolor-default);
        border-radius: var(--radius-circle);
        border: .1rem solid var(--border-default);
        transition: var(--transition);
    }

        .ToggleCircle {
            position: relative;
            width: 50%;
            background: var(--color-muse-primary);
            border-radius: var(--radius-circle);
            box-shadow: var(--shadow-really-small);
            transition: var(--transition);
        }
        
            .ToggleCircle::after {
                display: block;
                content: "";
                padding-bottom: 100%;
            }

            @media (hover: hover) and (pointer: fine) {
                .ToggleCircle:hover {
                    background: var(--color-muse-hover);
                }
            }

            .ToggleCircle:active {
                background: var(--color-muse-pressed);
                transform: var(--card-scalex2);
            }

            input:checked ~ .Toggle {
                background: var(--color-muse-primary);
            }

            input:checked ~ .Toggle > .ToggleCircle {
                background: var(--nocolor-default);
                transform: translateX(100%);
            }

                @media (hover: hover) and (pointer: fine) {
                    input:checked ~ .Toggle > .ToggleCircle:hover {
                        background: var(--hover-nocolor);
                    }
                }

                input:checked ~ .Toggle > .ToggleCircle:active {
                    background: var(--pressed-nocolor);
                    transform: translateX(100%) var(--card-scalex2);
                }


/* 필터일 때 */
/* Type === "Filter" */

.Filter {
    display: flex;
    justify-content: center;
    padding: var(--card-padding);
    background: var(--card-bg);
    border-radius: var(--card-radius);
    border: var(--card-border);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: var(--shadow-really-small);
    transition: var(--transition);
}

    @media (hover: hover) and (pointer: fine) {
        .Filter:hover {
            background: var(--hover-nocolor);
        }
    }

    .Filter:active {
        background: var(--pressed-nocolor);
        transform: var(--card-scalex2);
    }

    .Filter div {
        font-size: var(--font-size-interaction-default);
    }

    @media (max-width: 903.98px) {
        .Filter {
            border-radius: var(--radius-circle);
        }

        .Filter div {
            font-size: var(--font-size-interaction-small);
        }
    }
