.GroupTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-slightly-small);
    width: 100%;
}

.Group {
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    border-radius: var(--card-radius);
    border: var(--card-border);
    width: 100%;
    transition: var(--transition);
}

    @media (hover: hover) and (pointer: fine) {
        .Group:hover {
            background: var(--card-bg-hover);
        }
    }

    .Group:active {
        background: var(--card-bg-active);
    }

    .Label {
        border: 0;
        padding: var(--padding-default);
        padding-bottom: 0;
        font-size: var(--font-size-interaction-small);
        opacity: .7;
    }

        .GroupInput {
            display: flex;
            width: 100%;
            align-items: center;
            position: relative;
        }

            .Input {
                display: flex;
                width: 100%;
                color: var(--body-color);
                font-size: var(--font-size-h6);
                letter-spacing: -.04rem;
                line-height: 1;
                font-family: var(--font-sans-serif);
                font-weight: var(--font-weight-regular);
                border: 0;
                padding: var(--card-padding);
                background: unset;
            }

            .Exit {
                position: absolute;
                right: var(--card-padding);
            }

/* 상태 변경 */

.disabled {
    opacity: var(--card-disabled) !important;
}

.error {
    background: var(--card-error-bg) !important;
    outline: var(--card-error-outline) !important;
}

    @media (hover: hover) and (pointer: fine) {
        .error:hover {
            background: var(--card-error-bg-hover) !important;
        }
    }

    .error:active {
        background: var(--card-error-bg-active) !important;
    }


.ErrorMessage {
    display: flex;
    align-items: center;
    gap: var(--gap-really-small);
    color: var(--color-coral-secondary);
    font-size: var(--font-size-p-small);
    line-height: 1.2;
}

    @media (max-width: 449.98px) {
        .ErrorMessage {
            font-size: var(--font-size-p-really-small);
        }
    }