:root {
    --hds-red: rgb(255, 94, 94);
    --hds-yellow: rgb(255, 178, 62);
    --hds-blue: rgb(60, 150, 255);
    --hds-background: rgba(240, 242, 245, 1);
    --hds-background-stock: rgb(255, 255, 255);
    --hds-background-transparent: rgba(240, 242, 245, .6);
    --hds-background-hover: rgba(0, 0, 0, .05);
    --hds-background-pressed: rgba(0, 0, 0, .1);
    --hds-background-undef: rgb(235, 235, 235);
    --hds-color-border: rgba(0, 0, 0, .05);
    --hds-color-undef: rgb(255, 255, 255);
    --hds-color-data: rgb(52, 52, 52);
    --hds-color-placeholder: rgba(0, 0, 0, .2);
}

[data-theme=dark] {
    --hds-background: rgb(0, 0, 0);
    --hds-background-stock: rgb(20, 20, 20);
    --hds-background-transparent: rgba(0, 0, 0, .6);
    --hds-background-hover: rgba(255, 255, 255, .1);
    --hds-background-pressed: rgba(255, 255, 255, .15);
    --hds-background-undef: rgb(50, 50, 50);
    --hds-color-border: rgba(255, 255, 255, .06);
    --hds-color-undef: rgb(25, 27, 30);
    --hds-color-data: rgb(255, 255, 255);
    --hds-color-placeholder: rgba(255, 255, 255, .2);
}