.GroupButton {
    display: flex;
    gap: var(--gap-default);
}

    .GroupButton > * {
        width: 100%;
    }



.LayoutHome {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: var(--gap-tera);
}

    @media (max-width: 767.98px) {
        .LayoutHome {
            gap: var(--gap-peta);
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .LayoutLeftHome {
        display: flex;
        flex-direction: column;
        gap: var(--gap-peta);
    }

    .LayoutRightHome {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--gap-tera);
    }

    @media (max-width: 767.98px) {
        .LayoutRightHome {
            gap: var(--gap-peta);
        }
    }

    @media (max-width: 959.98px) {
        .iframemode {
            display: flex;
        }
    }

.LayoutSupport {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: var(--gap-tera);
}

    @media (max-width: 767.98px) {
        .LayoutSupport {
            gap: var(--gap-peta);
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .LayoutLeftSupport {
        display: flex;
        flex-direction: column;
        gap: var(--gap-peta);
    }

    .LayoutRightSupport {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--gap-tera);
    }

    @media (max-width: 767.98px) {
        .LayoutRightSupport {
            gap: var(--gap-peta);
        }
    }


.LayoutAll {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: var(--gap-tera);
}

    @media (max-width: 767.98px) {
        .LayoutAll {
            gap: var(--gap-peta);
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .LayoutLeftAll {
        display: flex;
        flex-direction: column;
        gap: var(--gap-peta);
    }

        @media (max-width: 767.98px) {
            .LayoutLeftAll {
                grid-template-columns: repeat(1, 1fr);
            }
        }

    .LayoutRightAll {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--gap-tera);
        height: min-content;
        top: 10rem;
    }
    
        @media (max-width: 767.98px) {
            .LayoutRightAll {
                gap: var(--gap-peta);
                top: initial !important;
            }
        }


.Content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-really-large);
}


.DVLBest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-large);
}

    .DVLBest *:nth-child(1) {
        grid-column: 1 / span 2;
    }

    @media (max-width: 349.98px) {
        .DVLBest {
            display: flex;
            flex-direction: column;
        }
    }


.GroupTheme {
    display: flex;
    gap: var(--gap-pico);
    border: var(--border-default-settings);
    border-radius: var(--radius-circle);
    padding: var(--padding-pico);
    transition: var(--transition);
}