h1, h2, h3, h4, h5, h6, p, pre, blockquote, code {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* Heading */
.h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    letter-spacing: -.02rem;
    line-height: 1.4;
    margin: 0;
}

.h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    letter-spacing: -.02rem;
    line-height: 1.4;
    margin: 0;
}

.h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    letter-spacing: -.02rem;
    line-height: 1.4;
    margin: 0;
}

.h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
    letter-spacing: -.02rem;
    line-height: 1.4;
    margin: 0;
}

/* Paragraph */
.body {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    letter-spacing: -.02rem;
    line-height: 1.8;
    letter-spacing: 0;
    margin: 0;
}

/* Strong */
strong {
    font-weight: var(--font-weight-bold);
}