/* Font Settings */

:root {
    /* Font Size */
    --font-size: 12px;
    --font-size-h1: 4.2rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 2rem;
    --font-size-headline: 1.7rem;
    --font-size-body: 1.6rem;
    --font-size-callout: 1.6rem;
    --font-size-subhead: 1.6rem;
    --font-size-footnote: 1.4rem;
    --font-size-caption1: 1.2rem;
    --font-size-caption2: 1.1rem;

    /* Font Weight */
    --font-weight-heavy: 900;
    --font-weight-extrabold: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extralight: 200;
    --font-weight-thin: 100;

    /* Letter Spacing */
    --letter-spacing-placeholder: -.04rem;
    --letter-spacing-title: -.03rem;
    --letter-spacing-default: -.02rem;

    /* Line Height */
    --line-height-docs: 1.5;

    /* Font Family */
    --font-monospace: "Fira Code VF", "Interop", "Pretendard Variable", monospace;
    --font-sans-serif: -apple-system, "Interop", "Pretendard Variable", Pretendard, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@media (max-width: 1079.98px) {
    :root {
        font-size: 11px !important;
    }
}

@media (min-width: 904px) and (max-width: 1079.98px) {
    :root {
        font-size: 10px !important;
    }
}

@media (max-width: 349.98px) {
    :root {
        font-size: 9px !important;
    }
}