/* Box */
.GroupBox {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    padding: var(--padding-large);
    background: var(--nocolor-default);
    border: var(--border-default-settings);
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-really-small);
    transition: var(--transition-nocolor);
}

    @media (max-width: 767.98px) {
        .GroupBox {
            padding: 0;
            background: var(--transparent-default);
            border: .1rem solid transparent;
            box-shadow: none;
        }
    }

.GroupBox_Maintained {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    padding: var(--padding-default);
    background: var(--nocolor-default);
    border-radius: var(--radius-default);
    border: var(--border-default-settings);
    box-shadow: var(--shadow-really-small);
    transition: var(--transition-nocolor);
}

/* Card */
.GroupCard {
    display: flex;
    flex-direction: column;
}

    .GroupCard > * {
        display: flex;
        background: var(--nocolor-default);
        border: var(--border-default-settings);
        border-radius: var(--radius-default);
        box-shadow: var(--shadow-small);
        transition: var(--transition-nocolor);
    }

        @media (hover: hover) and (pointer: fine) {
            .GroupCard > a:hover, button:hover {
                background: var(--hover-nocolor);
            }

            .GroupCard > *:hover {
                box-shadow: var(--shadow-default);
            }
        }

        .GroupCard > a:active, button:active {
            background: var(--pressed-nocolor);
        }

        .GroupCard > *:active {
            box-shadow: var(--shadow-strong);
        }

        .GroupCard > *:first-child {
            border-radius: var(--radius-default);
        }

        .GroupCard > *:first-child:not(:last-child) {
            border-radius: var(--radius-default) var(--radius-default) 0 0;
        }

        .GroupCard > *:not(:first-child):not(:last-child) {
            border-radius: 0;
            border-top: 0 solid var(--border-default);
        }

        .GroupCard > *:not(:first-child):last-child {
            border-radius: 0 0 var(--radius-default) var(--radius-default);
            border-top: 0 solid var(--border-default);
        }
        
        .GroupCard > *:last-child {
            border-radius: var(--radius-default);
        }