:root {
    /* System Width Viewport */
    --vp-width-pc: 1280px;
    --vp-width-tablet: 904px;
    --vp-width-mobile: 550px;
    --vp-width-fold: 352px;

    /* Header Height */
    --header-height: 7.2rem;

    /* Radius */
    --hds-radius: 1.2rem;

    /* Padding */
    --hds-padding: 2rem;

    /* Blur */
    --hds-blur-strong: blur(1.6rem);
    --hds-blur-default: blur(.8rem);
    --hds-blur-weak: blur(.4rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font-sans-serif) !important;
    word-break: keep-all;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0%) !important;
}

.reduceMotion * {
    box-shadow: none !important;
    backdrop-filter: none !important;
    transition: none !important;
}

html {
    background: var(--hds-background);
    color: var(--hds-color-data);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing-defualt);
	font-variation-settings: 'rond' 3, 'edpt' 1;
    vertical-align: top;
    line-height: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: var(--body-default);
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    background: var(--hds-background-stock);
    -webkit-user-drag: none !important;
    -moz-user-drag: none !important;
    -o-user-drag: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

button {
    background: var(--hds-background-stock);
    color: var(--hds-color-data);
    font-family: inherit;
    padding: unset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    background: var(--hds-background);
    font-family: unset;
    letter-spacing: -.04rem;
}

    input:focus {
        background: var(--hds-background-pressed);
        outline: none;
    }

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
    border: var(--card-border);
    background: var(--hds-background-stock);
    color: var(--hds-color-data);
}

    select:active, select:focus {
        background: var(--hds-background-pressed);
        outline: none;
    }
